<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.rpgmvp2png" version="0.1.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>RPGMVP2PNG</name>
    <description>RPGMVP2PNG</description>
    <author email="" href="https://github.com/DrRyanHuang">
        Ryan
    </author>
    <content src="rpgmvp2png.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <plugin name="cordova-plugin-file" spec="^6.0.0" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.1.2" />

    <preference name="AndroidPersistentFileLocation" value="Compatibility" />


    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
            <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
            <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" /> -->
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
        </config-file>

        <config-file parent="application" target="AndroidManifest.xml">
            <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
            </provider>
        </config-file>

        <resource-file src="res/xml/provider_paths.xml" target="res/xml/provider_paths.xml"/>
        
    </platform>
</widget>